<%= render("layouts/errors", :object => @budget) %>

<%= form_for(@budget, url: budget_path, method: 'post') do |f| %>

  <div class="col-md-10 col-md-offset-1 form-group">
    <%= f.label :speculated_amount, 'How much do you think you want to spend?' %><br>
    <%= f.number_field :speculated_amount %>
  </div>
  <div class="col-md-10 col-md-offset-1 form-group">
    <%= f.label :amount_saved, 'How much have you already saved?' %><br>
    <%= f.number_field :amount_saved %>
  </div>
  <div class="col-md-10 col-md-offset-1 form-group">
    <%= f.label :months_until, 'How many months until the wedding?' %><br>
    <%= f.number_field :months_until %>
  </div>
  <div class="col-md-10 col-md-offset-1 form-group">
    <%= f.label :monthly_savings, 'How much can you realistically set aside each month?' %><br>
    <%= f.number_field :monthly_savings %>
  </div>
  <div class="clear"></div>
  <div class="col-md-2 col-md-offset-1">
    <button id="submit_budget_request" class="btn btn-default">What's my budget?</button>
  </div>
<% end %>