<%= render("layouts/errors", :object => @user) %>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :user_name %>
  </div>
   <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
   <div class="form-group">
    <%= f.label :role_in_wedding %>
    <%= f.text_field :role %>
  </div>
   <div class="form-group">
    <%= f.label :total_budget_amount %>
    <%= f.number_field :total_budget %>
  </div>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>