<h1><%= @user.name %>'s Wedding Planning Start Page</h1>
<div class="user_information_display">
	<p>--- avatar or user image goes here ---</p>
	<p><%= @user.name %> is the <%= @user.role %>!</p>
	<p>Username: <%= @user.user_name %></p>
	<p>Location: <%= @user.location %></p>
	<p><%= @user.name %>'s total budget is: <%= number_to_currency(@user.total_budget) %></p>
</div>

<div class="user_wedding_budget_priorities">
	<p>These are your chosen Wedding Budget Priorities. To change them, </p>
</div>

<div class="navigation_footer">
    <p><%= link_to "Edit Profile", edit_user_path(@user) %></p>
</div>



